
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Mortgage Leads</li>
        </ol>
        <h2>MORTGAGE LEAD GENERATION & VIRTUAL ASSISTANT</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page" class="bg-white">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12">
                                <p class="font-alt text-extra-large">Floronaleads provides Lead Generation &
                                        Virtual and Inbound Assistant Service for Mortgage Lenders, Brokers &
                                        Loan Officers. We provide below services to increase sales, closing and
                                        conversion ratio.</p><br>
                                        <span class="d-block font-alt mt-3 h3">1. LEAD GENERATION</span>
                                <span class="bg-base-color mt-2 sep-line-thick"></span>
                                <p class="mt-3 text-large">Floronaleads outbound Lead Generation representative
                                        speaks to opt-in prospects who are looking to purchase home or
                                        re-finance Mortgage. We speak to prospects about their current
                                        requirements and if they are interested in speaking to Loan Officer or
                                        Loan Manager to get rate quotes, pre- qualification and application, we
                                        live transfer them to you directly so you can quote rates, form loan
                                        application or set an further appointment with the prospect.</p>
                                <p class="mt-3 text-large">This is Pay Per Lead model in which you only pay for
                                        the leads which fits your criteria, filters & if customer is transferred
                                        to you with all basic accurate information and you set an further
                                        appointment with them.</p>
                                <p class="mt-3 text-large">We check all are customers against DNC, Sue-lists etc
                                        to make sure that we are transferring right prospect to you.</p>
                                <br><span class="d-block font-alt mt-3 h3">2. INBOUND
                                        ASSISTANT/VIRTUAL ASSISTANT</span> <span
                                        class="bg-base-color mt-2 sep-line-thick"></span>
                                <p class="mt-3 text-large">Our Virtual Assistant Service is what you will like
                                        the most. You must be doing marketing campaigns for your products and
                                        that triggers in-bound calls and online form fills by prospects.</p>
                                <p class="mt-3 text-large">We come in assistance here by providing you the
                                        service of not missing on a single prospect. We receive all the in-bound
                                        calls and form fills to our assistants who speaks to prospect about
                                        their requirements, verify and validate all the information filled out
                                        by prospect and if it is genuine then we make a warm transfer to your
                                        team or set an appointment with the prospect. Our service helps you in
                                        assisting & achieving 100% of your own marketing efforts and you never
                                        miss a prospect.</p>
                                <p class="mt-3 text-large">Depending on the number of prospects you receive
                                        daily by your marketing efforts we can set up Pay Per Hour or Pay Per
                                        Lead model for this service.</p>
                                <p class="mt-3 text-large">As per compliance and licensing requirements, our
                                        team never provides, quotes or engage with customer in any kind of Rate
                                        Quotes, Terms or negotiation for new purchase or re-finance inquiry. We
                                        do not take customer SSN(1 out of 6 requirements) which makes a Loan
                                        Application to provide LE.</p>
                        </div>
                        <div class="col-lg-12">
                                <div class="portfolio-info mt-3">
                                  <span class="d-block font-alt mt-3 h3">Quick Contact</span>
                                  <ul>
                                    <li class="mt-2"><strong>Name</strong>: Jaydeepsinh Vaghela ( Jay )</li>
                                    <li class="mt-2"><strong>Contact No</strong>:<a href="tel:+17603853434" class="text-primary">(760)-385-3434</a></li>
                                    <li class="mt-2"><strong>Email</strong>: <a href="mailto:jay@Floronaleads.com">jay@Floronaleads.com</a></li>
                                    <li class="mt-2"><strong>Skype</strong>: <a
                                      href="skype:jaydeepsinhvaghela?call">jaydeepsinhvaghela</a></li>
                                  </ul>
                                </div>
                        </div>
                </div>
        </div>
</section>

  </main><!-- End #main -->

  <!-- ======= Contact Section ======= -->
  <!-- <app-contact></app-contact> -->
  <!-- End Contact Section -->