
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>MCA Leads</li>
        </ol>
        <h2>MCA LEAD GENERATION & LIVE CALL TRANSFERS</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page" class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="font-alt text-extra-large">Florodaleads Leads provides Lead Generation & Live call transfers for
              MCA & Business Loan Lenders. We provide services to increase number of applications, closing and
              conversion ratio.</p><br>
            <span class="d-block font-alt mt-3 h3">QUALIFIED LEADS</span>
            <span class="bg-base-color mt-2 sep-line-thick"></span>
            <p class="mt-3 text-large">We generate leads and live call transfer you the merchants or businesses who are interested in obtaining funding for their business and qualified on a criteria set as industry standards. Florodaleads Leads provides the most cost effective live call transfers & lead generation program. Our Live transfer are always exclusive.</p>
            <p class="mt-3 text-large">This is Pay Per Lead model in which you are only billed for the leads which fits your criteria, filters & if customer is transferred to you with all basic accurate information and you set an further appointment with them.</p>
            <br><span class="d-block font-alt mt-3 h3">MINIMUM REQUIREMENTS WE LOOK IN MERCHANT</span> 
            <ul>
              <li>Time in business is >3 months</li>
              <li class="mt-3">FICO Score</li>
              <li class="mt-3">Ownership % for funding is minimum 50 %</li>
              <li class="mt-3">Monthly gross deposits above 10K</li>
              <li class="mt-3">Average daily balance (if applicable) Any</li>
              <li class="mt-3">Monthly gross volume 10K</li>
              <li class="mt-3">Negative days/NSF.</li>
              <li class="mt-3">Any Bankruptcies/Tax Liens/Judgements.</li>
              <li class="mt-3">Funding amount required.</li>
              <li class="mt-3">Email Address</li>
              <li class="mt-3">Repayment options (Daily, Weekly, Monthly)? Daily</li>
              <li class="mt-3">Type of Industry.</li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="portfolio-info mt-4">
              <span class="d-block font-alt mt-3 h3">Quick Contact</span>
              <ul>
                <li class="mt-2"><strong>Name</strong>: Jaydeepsinh Vaghela ( Jay )</li>
                <li class="mt-2"><strong>Contact No</strong>:<a href="tel:+17603853434" class="text-primary">(760)-385-3434</a></li>
                <li class="mt-2"><strong>Email</strong>: <a href="mailto:jay@florodaleads.com">jay@florodaleads.com</a></li>
                <li class="mt-2"><strong>Skype</strong>: <a href="skype:jaydeepsinhvaghela?call">jaydeepsinhvaghela</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

   <!-- ======= Contact Section ======= -->
   <!-- <app-contact></app-contact> -->
   <!-- End Contact Section -->
