<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>We are Floronaleads</h1>
        <h2> Digital Marketing and Lead Generation Made Easy</h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Floronaleads Leads helps business to deploy their Digital Marketing & Lead Generation campaigns with ease.
          </p>
<!--           <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul> -->
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Floronaleads, LLC has founded its roots in 2009 and since then we are providing Digital Marketing, Lead
            Generation and Web Design & Development services to our valuable clients.
          </p>
          <p>
            We at Floronaleads enjoy all aspects of marketing and always available to provide services for your success.
            Contact us to lean more about us.
          </p>
          <a class="btn-learn-more scrollto" href="#services">Our Services</a>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>The best in class services from our desk. We help you growing in below service areas.</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Digital Marketing</a></h4>
            <p>Social Media Marketing, Google Adwords and Interenet Marketing can be cake walk with us.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-user-check"></i></div>
            <h4><a href="">Lead Generation</a></h4>
            <p>We connect you with the customers who are interested in buying your products or services.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-user"></i></div>
            <h4><a href="">Virtual Assistant</a></h4>
            <p>If you want someone to answer your calls and transfer them, try our Virtual Assistant Service.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Data Services</a></h4>
            <p>We produdly provide data in over 10 verticals with more accuracy and conversion ratio.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Varticles Section ======= -->
  <section id="verticals" class="verticals">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Verticals</h2>
        <p class="mt-4 text-xs-large text-extra-large">
          Floronaleads generates leads from organic searches, online & social media marketing and call center partners.
          All our leads are Call Verified and can be live transferred on CPA/CPL basis. We offer cost effective leads at
          the best rates in the industry. Below is list of few verticals we generate leads for.
        </p>
      </div>
      <div class="mt-4 col-lg-12 text-center"><span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Mortgage</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 title-medium">Auto Finance</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 title-medium">Auto Insurance</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Personal Loans</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 title-medium">Home Warranty</span><br> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Home Improvement</span>
        <span class="font-alt font-w-600 d-inline-block mx-3 my-2 title-medium">Debt Settlement</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 title-medium">Merchant Cash Advance</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Business Loans</span><br> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 title-medium">Student Debt</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Solar</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Biz Ops</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Diabetic</span> <span
          class="font-alt font-w-600 d-inline-block mx-3 my-2 text-base-color title-medium">Pain Gel/Tri Care</span>
      </div>
    </div>
  </section>
  <!-- ======= End Varticles Section ======= -->

  <!-- ======= Contact Section ======= -->
  <app-contact></app-contact>
  <!-- End Contact Section -->

</main><!-- End #main -->
