  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="home" class="logo me-auto"><img src="assets/img/Floronaleads-logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul [ngClass]="isLeads ? 'd-none':''">
          <li><a id="home" class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto"  href="#about" >About</a></li>
          <li><a class="nav-link scrollto"  href="#services">Services</a></li>
          <li><a class="nav-link scrollto"  href="#verticals">Verticals</a></li>
          <li><a class="nav-link scrollto"  [routerLink]="['mortgage-leads']" routerLinkActive="active" >Mortgage Leads</a></li>
          <li><a class="nav-link scrollto"  [routerLink]="['mca-leads']" routerLinkActive="active" >MCA Lead</a></li>
          <li><a class="nav-link scrollto"  href="#contact" >Contact</a></li>
        </ul>
        <ul *ngIf="isLeads && isMortageLeads">
            <li><a class="nav-link scrollto"  [routerLink]="['/home']">Go to Home</a></li>
            <li><a class="nav-link scrollto"  [routerLink]="['mortgage-leads']" routerLinkActive="active" >Mortgage Leads</a></li>
            <li><a class="nav-link scrollto"  [routerLink]="['contact']" routerLinkActive="active">Contact</a></li>
        </ul>
        <ul *ngIf="isLeads && isMcaLeads">
          <li><a class="nav-link scrollto"  [routerLink]="['/home']">Go to Home</a></li>
          <li><a class="nav-link scrollto"  [routerLink]="['mca-leads']" routerLinkActive="active" >MCA Lead</a></li>
          <li><a class="nav-link scrollto"  [routerLink]="['contact']" routerLinkActive="active">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->